<footer id="sticky-footer" class="footer bg-dark">
    <div class="container text-center">
         Copyright 2019 © <a class="text-white-50" href="http://szewczyk.ovh"> Bartosz Szewczyk </a>
    </div>
</footer>

 <!--Scripts-->

 <!--/.Scripts-->

</body>

</html>
