       <div class="content">

			<div id="jquery-accordion-menu" class="jquery-accordion-menu">
				<div class="jquery-accordion-menu-header">MENU </div>
				<ul>
					<li class="active"><a href="/pages"><i class="fa fa-home"></i>Home </a></li>
					<li><a href="/"><i class="fa fa-glass"></i>Landing Page </a></li>
					<li><a href="#"><i class="fa fa-file-image-o"></i>Gallery </a><span class="jquery-accordion-menu-label">12 </span></li>
					<li><a href="#"><i class="fa fa-envelope"></i>Contact </a></li>
				</ul>
				<div class="jquery-accordion-menu-footer"> 
					<p>	</p>
				</div>
			</div>
		</div>