       <div class="container content">
         <div id="jquery-accordion-menu" class="jquery-accordion-menu">
           <div class="jquery-accordion-menu-header">MENU </div>
           <ul>
             <li class="active"><a href="/pages"><i class="fa fa-home"></i>Home </a></li>
             <li><a href="/"><i class="fa fa-window-maximize"></i>Landing Page </a></li>
             <li><a href="/todos"><i class="fa fa-list"></i>TODOs List </a><span id="numberOfTodos" class="counter jquery-accordion-menu-label">
              </span></li>
             <li><a href="#"> </a></li>
             <li><a href="/colorgame"><i class="fa fa-gamepad"></i>ColorGame </a></li>
             <li><a href="/hangman"><i class="fa fa-gamepad"></i>HangMan </a></li>
           </ul>
           <div class="jquery-accordion-menu-footer">
             <p> </p>
           </div>
         </div>
       </div>
