<%- include("partials/header") %>
<%- include("partials/sidebar") %>
<div id="bodyColor">
  <h1 id="headingColor">
    The Great
    <br>
    <span id="colorDisplay">RGB</span>
    <br>
    Color Game
  </h1>

  <div id="stripe">
    <button id="reset" class="buttonColor" name="button">">New Colors</button>
    <span id="message"></span>
    <button class="mode buttonColor">Easy</button>
    <button class="mode buttonColor selected">Hard</button>
  </div>

    <div id="container">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
</div>
<script src="javascripts/colorgame.js"></script>
