<%- include("partials/header") %>
<div id="bodyHangman">
  <div id="containerHangman">
    <!-- <h1> HangMan <span>THE GAME</span> </h1> -->

    <div id="passwordHangman"> </div>
    <div id="hangman">
      <img class="hangmanIMG" src="images/hangman/s0.jpg" alt="" />
    </div>

    <div id="alphabet"></div>


  </div>
</div>
<script type="text/javascript" src="javascripts/hangman.js"></script>
