<!DOCTYPE html>
<html>

<head>
  <title>Node JS Apps - projects</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <link rel="stylesheet" href="/stylesheets/enter.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>

<body>
  <section>
    <div class="tracking-in-expand"></div>
  </section>

<main class="fadeIn">
  <ul class="main-nav">
  <a href="/pages">
    <li class="item1">
    <div class="bg"></div></li>
  </a>
  <a href="/colorgame">
    <li class="item2">
    <div class="bg"></div></li>
  </a>
  <a href="/hangman">
    <li class="item3">
    <div class="bg"></div></li>
  </a>
  <a href="/todos">
    <li class="item4">
    <div class="bg"></div></li>
  </a>
  <a href="/drums">
  <li class="item5">
    <div class="bg"></div></li>
  </a>
</ul>

</main>

</body>

</html>
