<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TODO List</title>

  <link rel="stylesheet" type="text/css" href="stylesheets/todos.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="fonts/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">
</head>

<body>

  <div id="container">
    <h1>TO-DO List <i class="fa fa-plus"></i></h1>
    <input type="text" placeholder="..add new TODO">

    <ul>
      <li><span><i class="fa fa-trash"></i></span> Do loundry</li>
      <li><span><i class="fa fa-trash"></i></span> Make dinner</li>
      <li><span><i class="fa fa-trash"></i></span> Wash your hands</li>
      <li><span><i class="fa fa-trash"></i></span> Save your work</li>
      <li><span><i class="fa fa-trash"></i></span> Try to focus</li>
      <li><span><i class="fa fa-trash"></i></span> Seriously, try to focus</li>
    </ul>
  </div>
  <script type="text/javascript" src="javascripts/todos.js"></script>
</body>

</html>
