<%- include("partials/header") %>
<%- include("partials/sidebar") %>

<div class="bodyTodos" id="container">
  <h1 class="headingTodos">TO-DO List <i class="fa fa-plus"></i></h1>
  <input class="inputTodos" type="text" placeholder="..add new TODO">

  <div id="divTodos">
    <ul id="listTodos" class="ulTodos">
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Do loundry</li>
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Make dinner</li>
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Wash your hands</li>
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Save your work</li>
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Try to focus</li>
      <li class="liTodos"><span class="spanTodos"><i class="fa fa-trash"></i></span> Seriously, try to focus</li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="javascripts/todos.js"></script>
