

.main-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.main-nav li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #666;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.8;
  border-radius: 5px;
}

.main-nav li:hover {
  opacity: 1;
  border-radius: 50px;
  border: 1px solid #b8a954;
}

.main-nav li.item1 {
  top: 0;
  left: 0;

}

.main-nav li.item2 {
  bottom: 0;
  left: 25%;
}

.main-nav li.item3 {
  top: 0;
  left: 50%;
}

.main-nav li.item4 {
  bottom: 0;
  left: 75%;
}

.main-nav li.item5 {
  top: 0;
  left: 100%;
}

.main-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.main-nav li.item1 .bg {
  background-image: url('/images/landingpage.png');
  background-size: cover;
  background-position: center;
}

.main-nav li.item2 .bg {
  background-image: url('/images/colorgame.png');
  background-size: cover;
  background-position: center;
}

.main-nav li.item3 .bg {
  background-image: url('/images/hangman.png');
  background-size: cover;
  background-position: center;
}

.main-nav li.item4 .bg {
  background: url('/images/todolist.png');
  background-size: cover;
  background-position: center;
}

.main-nav li.item5 .bg {
  background: url('/images/musicgame.png');
  background-size: cover;
  background-position: center;
}
