<%- include("../partials/header") %>


<main class="fadeIn">
  <ul class="main-nav">
  <a href="/pages">
    <li class="item1">
    <div class="bg"></div></li>
  </a>
  <a href="/colorgame"><li class="item2">
    <div class="bg"></div></li>
  </a>
  <a href="/hangman"><li class="item3">
    <div class="bg"></div></li>
  </a>
  <a href="/todos"><li class="item4">
    <div class="bg"></div></li>
  </a>
  <a href="/drums">
  <li class="item5">
    <div class="bg"></div></li>
  </a>
</ul>

</main>
